ANTHROPIC_API_KEY=sk-...
TAVILY_API_KEY=tvly-...

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT="REPLACE ME"
LANGSMITH_API_KEY=lsv2_...

LANGFUSE_SECRET_KEY=sk-...
LANGFUSE_PUBLIC_KEY=pk-...
LANGFUSE_BASE_URL=https://us.cloud.langfuse.com
